/* Modal container: fundo escurecido */
.modal-overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(11, 11, 11, 0.993);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 50;
}

/* Modal em si */
.modal-content {
  background-color: rgb(8, 8, 8);
  border-radius: 0.5rem;
  padding: 1.5rem;
  width: 100%;
  max-width: 24rem;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.953);
}

/* Título do modal */
.modal-title {
  font-size: 1.125rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

/* Botões */
.modal-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.btn-cancel {
  padding: 0.5rem 1rem;
  background-color: #d1d5db; /* gray-300 */
  border-radius: 0.375rem;
  transition: background-color 0.2s;
}

.btn-cancel:hover {
  background-color: #0f0f0f; /* gray-400 */
}

.btn-confirm-delete {
  padding: 0.5rem 1rem;
  background-color: #ff2ac3; /* red-600 */
  color: white;
  border-radius: 0.375rem;
  transition: background-color 0.2s;
}

.btn-confirm-delete:hover {
  background-color: #ff2ac3; /* red-700 */
}