
@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  box-sizing: border-box;
  text-decoration: none;
}
body { 
  padding-top: 80px; 
  margin: 0;
  padding: 0;


  background: #fbeaf4;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, '.SFNSText-Regular',
    sans-serif;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.button-delete-photo{
  position: relative;
  border: none;
  padding: 3px 8px;
  border-radius: 3px;
  color: rgb(250, 246, 249);
  background-color: #ff2ac3;
  top: 1px;
  left: 97px;

}
.upload-container{
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.photos-grid{    
  display: grid;
  grid-template-columns: auto auto auto;
  
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}
.button-upload{
  background-color: #ff2ac3;
  color: white;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 0.375rem;
  transition-property: background-color, border-color, color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  border: none;

}
.button-upload:hover{
  background-color: #ff2ac3;
}
.imagem-name-section{
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 5px 10px;
}
.image-name{
  font-size: 14px;
  color: #ff2ac3;
  margin-bottom: 7px;
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis
}
.upload-file-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
  gap: 20px;

}
.image-card{
  text-align: center;
  background: white;
  padding: 10px;
  width: 240px;
  height: 250px;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0 10px 15px -3px rgb(12, 12, 12),
    0 4px 6px -2px rgb(19, 18, 18);
  transition-property: box-shadow;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.image-card img{
  object-fit: contain;
  width: 200px;
  height: 200px;
  margin-top: -20px;
}
.register-button {
  background: #ff2ac3;
  color: white;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}
.input-field{
  border: none;
  height: 35px;
  padding: 5px 10px;
  border-radius: 4px;
  margin: 10px 0;
}
.container {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 900px;
}

.navbar {
  background: rgb(255, 197, 242);
  box-shadow: 0 4px 6px rgb(15, 13, 13);
  padding: 0px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
}

.navbar-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #3b5257;
}

.nav-link {
  margin-left: 20px;
  text-decoration: none;
  color: #0c0c0c;
  transition: color 0.3s;
}

.nav-link:hover {
  color: #ff2ac3;
}

.cadastro-container {
  background: rgb(252, 31, 175);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgb(27, 1, 1);
  width: 100%;
  max-width: 500px;
}

.cadastro-title {
  font-size: 1.8rem;
  color: #090909f6;
  margin-bottom: 20px;
  text-align: center;
}

.cadastro-form {
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.input-field, .textarea-field {
  width: 100%;
  padding: 1px;
  border: 1px solid rgb(240, 51, 193);
  border-radius: 5px;
  font-size: 1rem;
  transition: border-color 0.3s;
}

.input-field:focus, .textarea-field:focus {
  border-color: #ff2ac3;
  outline: none;
}


.submit-button {
  background: #ff2ac3;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s;
}

.submit-button:hover {
  background: #ff2ac3;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

h1 {
  font-size: 24px;
  color: #333;
}


